# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data (DO NOT COMMIT DATASETS)
data/

# Models
*.h5
*.pt
*.pth

# Logs / temp
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db
